<div class="logo-banner"> 
    <h1 id="brand-name"><a href="/" style="color: inherit;text-decoration: inherit;">Oasis</a></h1>
</div>

<style>
    #brand-name {
        padding: .25em;
        padding-left: .65em;
        background-color: rgb(60, 74, 148);
        color:white;
    }
</style>