<%- include('partials/header') %>
<link rel="stylesheet" href="css/home.css">
<link rel="stylesheet" href="css/help.css">
</head>
<body>
    <header>
        <%- include('partials/brand_name') %>
    </header>
    <!-- make a dropdown selector -->
    <!--<select name="asking_price" id="asking_price">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20 </option>
    </select>> -->
    <div class="encompassing"> 
        <div class="m_buttons">
            <button class="amount" value="5" id="five"><p>$5</p></button>
            <button class="amount" value="10"id="ten"><p>$10</p></button>
            <button class="amount" value="20"id="twenty"><p>$20</p></button>
        </div>
        <hr>
    </div>

        <div class="information">
            <div class="entry1">
                <input type="text"name="title" placeholder="title:" id="title">
                <div class="input-space"></div>
                <textarea type="text" name="description" placeholder="description:" id="description"></textarea>
            </div>

            <div class="entry2">


                <select name="tag" id="tag">
                <%for(let i = 0; i<tags.length; i++) {%>
                    <option value="<%=tags[i]%>"><%=tags[i]%></option>
                <%}%>
                </select>
                <div class="input-space"></div>
                <button  id="submit">SUBMIT</button>

            </div>
        </div>
    </div>
    <script src="js/help.js"></script>
</body>