<%- include('partials/header') %>
<link rel="stylesheet" href="css/home.css">
</head>
<body>
    <header>
        <div class="logo-banner"> 
            <h1 id="brand-name">This is the name</h1>
        </div>
        <div class="navigation">
            <div class="left">
                <!-- about us -->
                <a class="nav-item" href="/about">About</a>
                <!-- who we serve -->
                <a class="nav-item" href="/serve">who we serve</a>
            </div>

            <div class="right">
                <!-- login -->
                <a class="nav-item" href="/login">Login</a>
                <!-- sign up -->
                <a class="nav-item" href="/signup">Sign Up</a>
            </div>
        </div>
    </header>
    <main>
        <div id="page1">
            <button id="donate">Donate Today!</button>
            <button id="receive-help">Receive Help Now!</button>
        </div>
        <div id="page2">
            <div></div>
        </div>
    </main>
</body>
</html>