<%- include('partials/header') %>
<link rel="stylesheet" href="css/login.css">
</head>
<body>
    <!-- include brand name partial -->
    <%- include('partials/brand_name') %>
    <input id="username" placeholder="username" name="username">
    <input id="password" type="password" placeholder="password" name="password">
    <button id="submit">submit</button>

    <script src="js/login.js"></script>
</body>
</html>