<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Oasis</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 800px;
      margin: auto;
      padding: 20px;
    }

    h1 {
      text-align: center;
      color: #333;
    }

    h2 {
      text-align: center;
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
    }

    p {
      color: #666;
    }

    .emphasis {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <h2>Who We Serve</h2>
    <p>We serve a diverse array of people, including those facing financial hardship, emotional distress, or simply seeking a supportive community to lean on. Whether you're navigating personal struggles, grappling with societal injustices, or yearning for connection in an increasingly isolated world, Oasis is here for you.</p>
    <p>While Oasis is centered around financing immediate needs, our filtered searches allow our users to fund whatever inspires them. We will happily provide a platform for those looking to fund small projects such as starting a personal garden or even a dog walking service. While there is no limit to how many posts a user may have, please be mindful that many of our users do rely on the funds they receive to function throughout the day.</p>
    <p class="emphasis">Our only requirements are that you present your true and honest self. We encourage our users to promote any and all fraudulent behavior. We work diligently with trusted companies to protect your private information. Issues with sending or receiving money should be raised through the PayPal app.</p>
  <a href="/">Home</a>

  </div>

</body>
</html>
