<%- include('partials/header') %>
<%- include('partials/brand_name') %>
<link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="container">
        <div class = "left-side-container">
            <header id="head">Create Account</header>
            <div id="link_to_si">
                <p>Already have an account? <a href="/login">SIGN IN</a><p>
            </div>
        </div>

    <div class = "right-side-container">
                <input id = "name"type="text" placeholder="name" name="name">
                <input id = "username"type="text" placeholder="username" name="username">
                <input id="email" type="email" placeholder="email" name="email">
                <input id="password" type="password" placeholder="password" name="password">
                <script src="js/signup.js"></script>
                <button id="submit">submit</button>

            <p>By pressing the SIGN UP button below, you are agreeing to our Terms of Services and </p>
            <p>Conditions and acknowledge the Privacy Notice</p>
        <div>
    </div>
</body>
</html>