<%- include('partials/header') %>
<%- include('partials/brand_name') %>
<link rel="stylesheet" href="css/signup.css">
</head>
<body>
    <div class="container">
        <div class = "left-side-container">
            <header id="head">Create Account</header>
            <hr id="hr">
            <div id="link_to_si">
                <p>Already have an account? <a href="/login">SIGN IN</a><p>
            </div>
        </div>

    <div class = "right-side-container">
            <div id="input1">
                <div class="input-space"></div>
                <input class="input-large" id = "name"type="text" placeholder="name" name="name" >
                <div class="input-space"></div>
                <input class="input-large" id = "username"type="text" placeholder="username" name="username" >
                <div class="input-space"></div>
            </div>
            <div id="input2">
                <input class="input-large" id="email" type="email" placeholder="email" name="email">
                <div class="input-space"></div>
                <input class="input-large" id="password" type="password" placeholder="password" name="password">
                <div class="input-space"></div>
            </div>
            <p>By pressing the SIGN UP button below, you are agreeing to our Terms of Services and </p>
            <p>Conditions and acknowledge the Privacy Notice</p>
            
            <button class="btn-large" id="submit">SIGN UP</button>
            <script src="js/signup.js"></script>

        <div>
    </div>
</body>
</html>