@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Forum&display=swap');
* {
    --main_blue: rgb(60, 74, 148);
    --main_green: rgba(168, 174, 116, 1);
    --frame_fill: rgba(255, 255, 255, 0.5);
    --main_font: Cardo;

    margin: 0;
    padding: 0;
    font-family:var(--main_font);
}
.logo-banner {
    background-color: var(--main_blue);
  }
  
  #brand-name {
    color: white;
    font-size: 2em;
    font-family: --main_font;
    /* put the text as hello world */
    /* text-align: center; */
  }